.header__logo{
    padding: 2% 0px;
    padding-left: 44px;
    position: relative;
    font: bold 24px/32px 'pt_serifbold','arial','helvetica','sans-serif';
    }
.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9%;
    }
.wrapper{
        width: 80%;
        margin: auto;
    }
.header__menu{
        padding-top: 1%;
    }
.header__menu_item{
        margin: 0px 13px;
        font: 500 18px/21px 'robotoregular', 'sans-serif';
        text-decoration: none;
        color: #000;
        position: relative;
        transition: .5s;
    }
.header__menu_item:last-child{
        margin-right: 0px;
    }
.logo__circle{
        width: 28px;
        height: 28px;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        opacity: .7;
    }
.logo__circle_color_blue{
        left: 8px;
        top: 56%;
        background: #C8DBFB;
        }
.logo__circle_color_darkblue{
        background: #0056EC;
    }
.menu__item_active::after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #0056EC;
        left: 0px;
    }
.header__menu_item:hover{
        font-weight: bold;
        font-size: 25px;
    }
.header__menu_item:hover::after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #0056EC;
        left: 0px;
    }
.main__title_question{
    font: 700 66px/87px 'pt_serifbold', 'Arial', 'Helvetica', 'sans-serif';
    margin: 0 0 40px 0;
    position: relative;
}
.main__section{
    padding: 70px 63% 50% 0;
    background: top right no-repeat url(img/Frame\ \(1\).svg);
}
.main__description_small{
    font: 600 22px/26px 'robotoregular', 'sans-serif';
    margin: 0 0 13% 0;
    width: 80%;
    }
.main__button_schedule{
    font: 500 18px/21px 'robotoregular', 'sans-serif';
    color: #fff;
    text-decoration: none;
    background: #0056EC;
    padding: 18px 26px;
    border-radius: 4px;
    transition: .5s;
}
.main__title_question::before{
    display: block;
    content: "";
    position: absolute;
    width: 90%;
    height: 69px;
    background: #ECF3FF;
    left: 0px;
    z-index: -1;
    top: 38%;
}
.main__title_question::after{
    display: block;
    content: "";
    position: absolute;
    width: 53%;
    height: 69px;
    background: #ECF3FF;
    left: 0px;
    z-index: -1;
    bottom: 2%;
}
.main__button_schedule:hover{
    font-weight: bold;
    font-size: 22px;
    background: #00AD9F;
    color: #ECF3FF;
}
.header__menu_for_mobile{
    display: none;
}
@media(max-width: 1800px){
.main__title_question{
    font: 700 50px/66px 'pt_serifbold', 'Arial', 'Helvetica', 'sans-serif';
    }
.main__description_small{
    font: 600 18px/21px 'robotoregular', 'sans-serif';
    }
.main__section{
    background-size: 55%;
    padding: 2% 53% 50% 0;
    }
.wrapper{
    width: 69%;
}
.header__logo{
    padding: 3% 0 0 44px;
}
.header__menu_item{
    margin: 0px 13px;
    font: 500 14px/16px 'robotoregular', 'sans-serif';
}
.logo__circle{
    top: 80%;
}
.header__menu{
    padding-top: 4%;
}
.header{
    margin-bottom: 13%;
}
.main__button_schedule{
    font: 500 14px/16px 'robotoregular', 'sans-serif';
    padding: 16px 24px;
}
.main__title_question::after{
    height: 53px;
    width: 50%;
}
.main__title_question::before{
    height: 53px;
    width: 87%;
}
}
@media(max-width: 1366px){
.wrapper{
    width: 93%;
}
}
@media(max-width: 1000px){
.header__menu{
    display: none;
}
.header{
    padding-top: 3%;
    margin-bottom: 7%;
}
.main__title_question{
    font: 700 30px/40px 'pt_serifbold', 'Arial', 'Helvetica', 'sans-serif';
    margin-bottom: 10%;
}
.main__section{
    background: top center no-repeat url(img/Frame\ \(1\).svg);
    background-size: 93%;
    text-align: center;
    padding: 82% 0 0 0;
}
.main__description_small{
    font: 600 16px/19px 'robotoregular', 'sans-serif';
    margin: 0 auto 13%;
}
.main__button_schedule{
    font: 500 14px/16px 'robotoregular', 'sans-serif';
    padding: 14px 23px;
}
.header__logo_title{
    visibility: hidden;
}
.wrapper{
    width: 88%;
}
.main__title_question::after{
    width: 44%;
    height: 32px;
    left: 25%;
}
.main__title_question::before{
    width: 74%;
    height: 32px;
    left: 13%;
}
.header__menu_for_mobile{
    display: block;
    visibility: visible;
}
#hamburger:checked ~.hamburger__menu_btn{
    z-index: 10;
}
#hamburger:checked ~.hamburger__menu_checked{
    visibility: visible;
    display: block;
    top: 0;
    max-width: 1000px;
    height: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 2;
    padding: 47% 0;
    margin: 0;
}
#hamburger:checked~.hamburger__menu_btn > span {
    transform: rotate(45deg);
  }
#hamburger:checked~.hamburger__menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
#hamburger:checked~.hamburger__menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
.hamburgr__menu_item{
    font: 600 30px/35px 'robotoregular', 'sans-serif';
    text-decoration: none;
    color: #000;
    display: block;
    padding: 12px 24px;
    margin-right: 10%;
}
.hamburger__menu_checked{
    display: none;
   }
.hamburger__menu_btn > span,
.hamburger__menu_btn > span::before,
.hamburger__menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:#0056EC;
}
.hamburger__menu_btn > span::before {
    content: '';
    top: -8px;
}
.hamburger__menu_btn > span::after {
    content: '';
    top: 8px;
}
.hamburger__menu_btn{
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    right: 20px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 1;
}
#hamburger{
    opacity: 0;
}
.hamburgr__menu_item:hover {
    background-color: #CFD8DC;
  }
}