.header__logo{
    padding: 40px 0px;
    padding-left: 44px;
    position: relative;
    font: bold 24px/31px 'PT Serf','arial','helvetica','sans-serif';
    }
.header__menu{
    font-family:'Roboto', 'sans-serif';
}
.main__title_question{
    font-family: 'PT Serif', 'Arial', 'Helvetica', 'sans-serif';
}
.main__description_small{
    font-family:'Roboto', 'sans-serif';
}
.main__button_schedule{
    font-family:'Roboto', 'sans-serif';
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    width: 80%;
    margin: auto;
}
.header__menu_item{
    padding: 0px 13px;
}
.header__menu_item:last-child{
    padding-right: 0px;
}
.logo__circle{
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: .7;
}
.logo__circle_color_blue{
    left: 8px;
    top: 56%;
    background: #C8DBFB;
    }
.logo__circle_color_darkblue{
    background: #0056EC;
}