.logo__name{
    font-family: 'PT Serif', serif;
}
.menu{
    font-family:'Roboto', sans-serif;
}
.title__main{
    font-family: 'PT Serif', serif;
}
.description__main{
    font-family:'Roboto', sans-serif;
}
.button__main_schedule{
    font-family:'Roboto', sans-serif;
}